/* Example wrapper */
.wrap {
    position: relative;
    margin: 3em 0;
    width: 50vw;
}

/* Frame */
.frame {
    height: 50vh;
    line-height: 50vh;
    /*height: 250px;*/
    /*line-height: 250px;*/
    overflow: hidden;
}

.frame ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 50px;
}

.frame ul li {
    float: left;
    /*width: 227px;*/
    width:50vw;
    height: 100%;
    margin: 0 1px 0 0;
    padding: 0;
    background: #333;
    color: #ddd;
    text-align: center;
    cursor: pointer;
}

.frame ul li.active {
    color: #fff;
    background: #a03232;
}

/* Scrollbar */
.scrollbar {
    margin: 0 0 1em 0;
    height: 2px;
    background: #ccc;
    line-height: 0;
}

.scrollbar .handle {
    width: 100px;
    height: 100%;
    background: #DAA520;

    cursor: pointer;
}

.scrollbar .handle .mousearea {
    position: absolute;
    top: -9px;
    left: 0;
    width: 100%;
    height: 20px;
}

/* Pages */
.pages {
    list-style: none;
    margin: 20px 0;
    padding: 0;
    text-align: center;
}

.pages li {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 0 4px;
    text-indent: -999px;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    background: #fff;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .2);
}

.pages li:hover {
    background: #aaa;
}

.pages li.active {
    background: #666;
}

/* Controls */
.controls {
    margin: 25px 0;
    text-align: center;
}

/* One Item Per Frame example*/
.oneperframe {
    /*height: 300px;*/
    /*line-height: 300px;*/
    height: 50vh;
    line-height: 50vh;
}

.oneperframe ul li {
    /*width: 1140px;*/
    width: 50vw;

}

.oneperframe ul li.active {
    background: #212121;
}

/* Buttons */
.btn {
    position: relative;
    display: inline-block;
    *display: inline;
    padding: 4px 12px;
    margin-bottom: 0;
    *margin-left: .3em;
    line-height: 22px;
    color: #454545;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.85);
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    border-radius: 50px;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.15);
    *zoom: 1;
}

.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
    color: #333;
    background-color: #f5f5f5;
}

.btn:first-child {
    *margin-left: 0;
}

.btn:hover {
    color: #333;
    text-decoration: none;
}

.btn:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.btn.active, .btn:active, .btn-group.open .btn {
    outline: 0;
    top: 1px;
    border-top-width: 2px;
    border-bottom-width: 1px;
    border-top-color: rgba(0, 0, 0, .2);
    -webkit-box-shadow: inset 0 60px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: inset 0 60px 0 rgba(0, 0, 0, .1);
    box-shadow: inset 0 60px 0 rgba(0, 0, 0, .1);
}

.btn.disabled, .btn[disabled] {
    cursor: default;
    background-image: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
}
